.main-header {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.main-header-image {
    width: 80%;
}

.pricing-table, .pricing-table th, .pricing-table td {
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 2px;
    padding: 5px;
}

.pricing-table th {
    background-color: wheat;
    font-weight: bold;
    text-align: center;
}

.pricing-table tfoot td {
    text-align: center;
}

.slogan {
    font-family: cursive;
    font-size: medium;
    font-style: italic;
    text-align: center;
}